body {
    font-family: system-ui;
    background: black;
    color: white;
    text-align: center;
  }

.headcontainer {
  display: block;
  margin: 0px auto auto;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 0px;
  margin: 0px;
  width: auto;
  height: 60px;
}

#nav li {
    display:inline; /*block*/
    list-style-type: none;
}

a {
  color:white;
  text-decoration: none;
}

.theeHuis {
    position: absolute;
    top: 10px;
    left: 16px;
    background-color: transparent;
}

.navbarTop {
    position: absolute;
    top: 8px;
    right: 16px;
}

.theeZakjes {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    margin: 1px auto auto;
    height: 400px;
    width: 50%;
    background-color: transparent;
    font-style:normal;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: solid rgb(187, 46, 46) 2px;*/
}

#bio {
  position: absolute;
  top: 40%;
  width: 100%;
  background-color: hsla(120, 4%, 5%, 0.89);
  opacity: 0.8;
  /*border: solid rgb(46, 187, 46) 2px;*/
  }

.pop {
  opacity: 0.8;
}

#container-1 {
  display: flex;
  top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  width: 70%;
  border: 1px rgb(15, 14, 14) solid;
  padding-left: 0;
  align-items:stretch;
  justify-content:space-evenly; 
  flex-direction:row;
  flex-wrap: wrap;
  padding: 1px;
  align-content: space-around;
}

#container-2 {
  display: flex;
  top: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 160px;
  width: 70%;
  border: 1px rgb(10, 9, 9) solid;
  padding-left: 0;
  align-items:stretch;
  justify-content:space-evenly; 
  flex-direction:row;
  flex-wrap: wrap;
  padding: 1px;
  align-content: space-around;
}

.teacup {
  width: 33%;
  text-align: center;
}

#container-3 {
  display: table;
  position: relative;
  margin: 1px auto auto;
  height: 400px;
  width: 100%;
  font-style:normal;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 0;
  text-align: center;
  background-image: url("https://i.imgur.com/ME2WNoD.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.top {
  margin: auto;
}

.footer li{
  display: inline;
  list-style-type: none;
}







